<div class="w-full flex justify-between items-center  top-0 bg-gray-100 shadow-md z-10 px-6 py-4">
  <img src="/fylelogo.svg" alt="Logo" class="logo">
  
  <h1 class="health-title hidden lg:block">Health Tracker</h1>

  <nav class="menu flex items-center">
    <div class="menu-item" (click)="onSelectComponent('form')">
      <h6>Form</h6>
    </div>
    <div class="menu-item" (click)="onSelectComponent('list')">
      <h6>List</h6>
    </div>
    <div class="menu-item" (click)="onSelectComponent('chart')">
      <h6>Chart</h6>
    </div>
    <div class="wee"></div> 
  </nav>
</div>
